*
{
	margin: 0;
	padding: 0;
}

html,
body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background: #fcfff5;
}

header
{
	padding: 0;
}

nav
{
	background: #bdd684;
	text-align: center;
}

nav > ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav > ul > li
{
	float: left;
}

footer
{
	background: #10222b;
	bottom: 0;
	color: #bdd684;
	height: 30px;
	left: 0;
	padding: 10px 0 0 0;
	position: absolute;
	width: 100%;
}

nav a:link,
nav a:visited
{
	background: #bdd684;
	color: #10222b;
	display: block;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px;
}

nav a:hover,
nav a:active
{
	background: #95ab63;
}

#title
{
	background: #10222b;
	color: #bdd684;
	font-size: 1.7em;
	margin: 0;
	padding: .5em 8px;
	text-align: center;
}

#body-wrapper
{
	background: #e2f0d6;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 1012px;
}

#body
{
	background: #bdd684;
	color: #10222b;
	padding: 0 0 40px 0;
}

#exercise-wrapper
{
	background: #e2f0d6;
	border-radius: 0 1em 0 0;
	float: left;
	padding: 10px 20px 40px 20px;
	width: 772px;
}

#exercise
{
	padding: 20px;
}

#sidebar
{
	background: #bdd684;
	border-radius: 0 0 0 1em;
	color: #10222b;
	float: right;
	margin: 0;
	padding: 10px;
	width: 180px;
}

#credits
{
	font-size: .9em;
	padding: 0 10px 0 0;
	text-align: right;
}

#sidebar > button
{
	display: block;
	margin: 0 auto;
	width: 128px;
}