*
{
	margin: 0;
	padding: 0;
}

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	background-color: #fcfff5;
}

p
{
	margin: 10px;
	padding: 10px;
}

fieldset
{
	padding: 20px;
}

li
{
	margin: 5px 0;
}

div > label
{
	margin: 5px 0;
	width: 220px;
	display: inline-block;
}

a:link, a:visited
{
	font-weight: bold;
	color: #10222b;
	text-decoration: none;
}

a:hover, a:active
{
	color: #95ab63;
}

.exercise-title
{
	margin: 20px 20px 0 20px;
	padding: 5px 15px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: #bdd684;
}

.exercise-body
{
	margin: 0 20px 10px 20px;
	padding: 15px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	background-color: #fcfff5;
	text-align: justify;
}

#header
{
	padding: 0;
}

#title
{
	font-size: 1.7em;
	padding: 0.5em 8px;
	color: #bdd684;
	background-color: #10222b;
	margin: 0;
	text-align: center;
}

#body-wrapper
{
	margin: 0 auto;
	width: 1012px;
	min-height: 100%;
	background-color: #e2f0d6;
	position: relative;
}

#body
{
	padding: 0;
	padding-bottom: 40px;
	color: #10222b;
	overflow: hidden;
}

#body-background
{
	background-color: #BDD684;
	float: left;
	overflow: hidden;
}

#exercise-wrapper
{
	padding-top: 10px;
	padding-bottom: 15px;
	width: 812px;
	border-top-right-radius: 1em;
	background-color: #e2f0d6;
}

#img-iot
{
	float: left;
	margin-right: 20px;
	height: 190px;
	width: 190px;
}

#clear
{
	clear: both;
}

#submit
{
	margin: 0 auto;
	margin-top: 10px;
	width: 75px;
}

#submit-button
{
	width: 75px;
}

#sidebar
{
	width: 180px;
	margin: 0;
	padding: 20px 0 20px 20px;
	border-bottom-left-radius: 1em;
	color: #10222b;
	background-color: #bdd684;
	float: right;
}

#footer
{
	width: 100%;
	height: 30px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #bdd684;
	background-color: #10222b;
}

#credits
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: right;
}

#sidebar > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#credits > p
{
	margin: 0;
	padding: 0;
}