form
{
	text-align: center;
}

.form-container
{
	width: 570px;
	margin: 0 auto;
	overflow: auto;
}

.form-line
{
	vertical-align: middle;
	margin: 5px auto;
}

.form-label
{
	width: 250px;
	display: inline-block;
	text-align: right;
}

.form-input
{
	width: 300px;
	display: inline-block;
}

.clear
{
	clear: both;
}

.button
{
	text-align: center;
}

.submit
{
	margin: 15px auto;
}

#body
{
	padding-top: 20px;
}