table
{
	margin: 0 auto;
    border-collapse: collapse;
}

table, th, td
{
   border: 1px solid black;
}

td
{
	padding: 5px;
}

td.tdname
{
	width: 120px;
	text-align: left;
}

td.tdbutton
{
	text-align: center;
}

td.twocol
{
	text-align: center;
}