body
{
	background : #C0D9D9 url("../img/fondo.gif") repeat;
	font : 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #666666;
	margin : 20px 0px 20px 0px;
	text-align: center;
}

h1
{
	font-size: 12pt;
}

a, a:active, a:focus, a:link, a:visited
{
	color : #3F7DE3;
}

a:hover
{
	color: #378237;
}

input
{
	font-size : 8pt;
}

.titlat
{
	background-color:#68729E;
	color:#ffffff;
	font-size:8pt;
	text-transform : uppercase;
	padding: 7px 3px 7px 8px;
	font-weight : normal;
	letter-spacing : 2px;
	margin: 0px 0px 8px 0px;
}

.cuerpolateral
{
	padding: 5px 4px 13px 10px;
}

.radio
{
	clear:both;
}

a.enlacenav, a.enlacenav:visited, a.enlacenav:active, a.enlacenav:focus, a.enlacenav:link
{
	color: #494E6B;
}

a.enlacenav:hover
{
	color: #3F7DE3;
}

#contenedor
{
	text-align: left;
	width: 700px;
	background-color : #ffffff;
	margin: auto;
}

#cabecera
{
	height : 106px;
	width: 700px;
}

#navegador
{
	background : #F5F4C3 url("../img/fondonav.gif");
	padding : 3px 10px 5px 10px;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
}

#cuerpo
{
	width:480px;
	margin-left: 8px;
	padding: 12px 0px 10px 0px;
	background-color : #ffffff;
	float:left;
}

#navabajo
{
	font-weight : bold;
}

#lateral
{
	width: 200px;
	background-color: #EBF2FE;
	border-bottom : 1px solid #cccccc;
	border-left : 1px solid #cccccc;
	float:right;
}

#campotexto
{
	float: left;
}

#botonbuscar
{
	padding-top : 3px;
	padding-left: 106px;
}

#pie
{
	clear : both;
	color : #cccccc;
	text-align : right;
	margin : 10px 10px 0px 10px;
	padding-top: 10px;
	padding-bottom:10px;
}

#borde
{
	border: 2px solid #cccccc;
	text-align: left;
	width: 700px;
	margin: auto;
}

#imagen
{
	width: 25px;
	height: 15px;
}

#cssval
{
	border:0;
	width:88px;
	height:31px
}

#xhtmlval
{
	height: 31px;
	width: 88px;
}

#fbuscar form
{
	margin-bottom : 0px;
	margin-top : 0px;
}

#campotexto input
{
	width:100px;
}

#botonbuscar input
{
	border : 0px none;
}

#otras ul
{
	margin : 5px 10px 0px 0px;
	padding: 0px 0px 0px 4px;
	list-style: none;
}

#otras li
{
	padding-left: 14px;
	background: transparent url("../img/bullet.gif") 0 2px no-repeat;
	margin-bottom: 10px;
}