html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fcfff5;
}

header {
	padding: 0;
}

nav {
	background: #bdd684;
	min-height: 2em;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav ul li {
	float: left;
}

h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
}

footer {
	background: #10222b;
	bottom: 0;
	color: #bdd684;
	height: 40px;
	left: 0;
	padding: 10px 0 0 0;
	position: absolute;
	width: 100%;
}

a.nav-link:link,
a.nav-link:visited {
	background: #bdd684;
	color: #10222b;
	display: block;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px;
}

a.nav-link:hover,
a.nav-link:active {
	background: #95ab63;
}

.exercise-title {
	background: #bdd684;
	border-radius: 1em 1em 0 0;
	margin: 20px 20px 0 20px;
	padding: 5px 15px;
}

.exercise-body {
	background: #fcfff5;
	border-radius: 0 0 1em 1em;
	margin: 0 20px 10px 20px;
	padding: 5px 15px;
}

.clear {
	clear: both;
}

.sidebar-link:link,
.sidebar-link:visited {
	color: #10222b;
	display: block;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.sidebar-link:hover,
.sidebar-link:active {
	background: #95ab63;
}

#title {
	background: #10222b;
	color: #bdd684;
	font-size: 1.7em;
	margin: 0;
	padding: .5em 8px;
	text-align: center;
}

#body-wrapper {
	background: #e2f0d6;
	margin: 0 auto;
	min-height: 100%;
	padding: 0;
	position: relative;
	width: 1012px;
}

#body {
	color: #10222b;
	overflow: hidden;
	padding: 0 0 40px 0;
}

#body-background {
	background: #bdd684;
	float: left;
	overflow: hidden;
}

#exercise-wrapper {
	background: #e2f0d6;
	border-radius: 0 1em 0 0;
	padding: 10px 0;
	width: 812px;
}

#sidebar {
	background: #bdd684;
	border-radius: 0 0 0 1em;
	color: #10222b;
	float: right;
	margin: 0;
	min-height: 35px;
	width: 200px;
}

#credits {
	font-size: .9em;
	padding: 5px 10px 0 0;
	text-align: right;
}

#sidebar ul {
	padding: 0;
}

#sidebar li {
	list-style-type: none;
}