table {
    border-collapse: collapse;
	margin: 0 auto;
}

table,
th,
td {
   border: 1px solid black;
}

td,
th {
	padding: 5px;
	text-align: center;
}

td {
	color: white;
}

div.ex-5 {
	float: left;
	width: 20%;
}

br.clear {
	clear: left;
}

td.red {
	background: red;
}

td.blue {
	background: blue;
}