html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfff5;
}

header {
    padding: 0;
}

nav {
    background-color: #bdd684;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: left;
}

h2 {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #10222b;
    bottom: 0;
    color: #bdd684;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
}

a.nav-link:link,
a.nav-link:visited {
    background-color: #bdd684;
    color: #10222b;
    display: block;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
}

a.nav-link:hover,
a.nav-link:active {
    background-color: #95ab63;
}

.exercise-title {
    background-color: #bdd684;
    border-radius: 1em 1em 0 0;
    margin: 20px 20px 0 20px;
    padding: 5px 15px;
}

.exercise-body {
    background-color: #fcfff5;
    border-radius: 0 0 1em 1em;
    margin: 0 20px 10px 20px;
    padding: 5px 15px;
}

.clear {
    clear: both;
}

#title {
    background-color: #10222b;
    color: #bdd684;
    font-size: 1.7em;
    margin: 0;
    padding: .5em 8px;
    text-align: center;
}

#body-wrapper {
    background-color: #e2f0d6;
    margin: 0 auto;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 1012px;
}

#body {
    color: #10222b;
    overflow: hidden;
    padding: 0 0 40px 0;
}

#body-background {
    background-color: #bdd684;
    float: left;
    overflow: hidden;
}

#exercise-wrapper {
    background-color: #e2f0d6;
    border-radius: 0 1em 0 0;
    padding: 10px 0;
    width: 812px;
}

#sidebar {
    background-color: #bdd684;
    border-radius: 0 0 0 1em;
    color: #10222b;
    float: right;
    margin: 0;
    min-height: 35px;
    width: 200px;
}

#credits {
    font-size: .9em;
    padding-right: 10px;
    text-align: right;
}