form {
	text-align: center;
}

.form-container {
	margin: 0 auto;
	overflow: auto;
	width: 420px;
}

.form-line {
	margin: 5px auto;
	vertical-align: middle;
}

.form-label {
	display: inline-block;
	text-align: right;
	width: 100px;
}

.form-input {
	display: inline-block;
	width: 300px;
}

.clear {
	clear: both;
}

.button {
	text-align: center;
}

.submit {
	margin: 15px auto;
}