#blanket {
   *background: none;
   background-color:#111;
   display: none;
   left: 0;
   opacity: .65;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 9001;
}

#popUpDiv {
    background: #fcfff5;
    border: 5px solid #bdd684;
    border-radius: 1em;
    display: none;
    /*height: 600px;*/
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 5vh;
    width: 900px;
    z-index: 9002;
}

#popUpDiv p {
    margin: 5px 10px;
}

#popUpDiv button {
    position: fixed;
    right: 20%;
    top: 7vh;
}