.form-label-ex2 {
	display: inline-block;
	text-align: right;
	width: 80px;
}

.form-label-ex9 {
	display: inline-block;
	text-align: right;
	width: 120px;
}

.form-label-ex92 {
	display: inline-block;
	text-align: right;
	width: 180px;
}

.form-line {
	margin: 10px auto;
}
