table {
    border-collapse: collapse;
	margin: 10px auto;
}

table,
th,
td {
   border: 1px solid black;
}

td {
	padding: 5px;
}

td.tdname {
	text-align: left;
	width: 120px;
}

td.tdbutton {
	text-align: center;
}

td.twocol {
	text-align: center;
}