/* Reset */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Formato General */
h1,
h3 {
  clear: both;
  color: #00747f;
  margin: 0 0 1em 0;
}

h2 {
  color: #40bac5;
  margin: 0 0 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #007484;
  text-decoration: none;
}

/* Estructura principal */
#body-wrapper {
  margin: 0 auto;
  width: 960px;
}

#body-main {
  float: left;
  width: 590px;
}

aside {
  float: right;
  margin: 0;
  width: 315px;
}

#footer-wrapper {
  clear: both;
  background: #7a7771;
  height: 140px;
}

footer {
  color: #33312e;
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 960px;
}

footer li {
  font-size: .8em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

footer a {
  color: #fff;
}

footer p {
  font-size: .8em;
  font-weight: bold;
  text-align: right;
}

/* Elementos */
.clear {
  clear: both;
}

#logo {
  float: left;
  height: 105px;
  width: 384px;
}

#login {
  float: right;
  margin: 8px 8px 20px 0;
  text-align: right;
  width: 160px;
}

#login li {
  display: inline-block;
}

#login a {
  color: #4c4c4c;
  font-size: 16px;
  margin: 0 0 0 20px;
  text-align: right;
}

#nav-top {
  clear: right;
  float: right;
}

#nav-top li {
  background: #f2f2f2;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 10px;
}

#nav-top a {
  color: #888d88;
}

#nav-wrapper {
  border-bottom: 1px solid;
  border-bottom-color: grey;
  margin: 0 0 15px 0;
}

#nav-body {
  float: left;
}

#nav-body li {
  background: #f2f2f2;
  display: inline-block;
  font-size: .9em;
  padding: 5px 8px;
}

#nav-body a {
  color: #949494;
}

#lang-menu {
  float: right;
}

#lang-menu label {
  float: left;
  font-size: .8em;
  padding: 3px 0 0 0;
  margin: 0 5px 0;
}

#lang-item {
  float: left;
}

#lang-item li {
  background: #f2f2f2;
  display: inline-block;
  float: right;
  font-size: .9em;
  padding: 1px 5px;
}

#program {
  float: right;
  height: 160px;
  margin: 0 0 10px 10px;
  width: 160px;
}

#cards li{
  display: block;
  float: left;
  height: 140px;
  margin: 10px;
  padding: 15px;
  width: 240px;
}

.aside-blue {
  background: #99cdff;
  margin: 0 0 1em 0;
  padding: 10px 10px 1px 10px;
}

.aside-blue p {
  font-size: .8em;
  text-align: center;
}

#register {
  background: #8bcf68;
  color: #fff;
  display: block;
  font-size: 30px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  width: 275px;
}

.aside-blank {
  padding: 5px 15px;
}

.aside-blank p {
  font-style: italic;
}

.aside-light {
  background: #f0f1f1;
  font-size: .8em;
  padding: 5px 0;
}

.aside-light li {
  background-position: 5px center;
  background-repeat: no-repeat;
  list-style: none;
  margin: 10px;
  padding: 10px 10px 10px 60px;
}

.aside-yellow {
  background: #fefbc2;
  margin: 25px 0;
  padding: 15px;
}

.aside-yellow h2 {
  color: #950000;
}

.aside-yellow ul {
  color: #002042;
  list-style-image: url(../img/check.png);
  list-style-position: inside;
  margin: 20px 0;
}

.aside-yellow p {
  font-size: .8em;
}

#social {
  list-style: none;
}

#social a {
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #fff;
  display: block;
  font-size: .9em;
  font-weight: bold;
  line-height: 40px;
  margin: 0 auto 10px;
  padding: 0 10px;
  text-align: center;
  width: 220px;
}

#identica {
  background-color: #7db4c9;
  background-image: url("../img/identica.png");
}

#twitter {
  background-color: #00bcff;
  background-image: url("../img/twitter.png");
}

footer ul {
  float: left;
  list-style: none;
  width: 160px;
}

/* Iconos */
#p2pu {
  background-image: url(../img/benefit_p2pu.png);
}

#creds {
  background-image: url(../img/benefit_creds.png);
}

#hackbus {
  background-image: url(../img/benefit_hackbus.png);
}

#guide {
  background-image: url(../img/benefit_guide.png);
}

#teaching {
  background-image: url(../img/benefit_teaching.png);
}

#hack {
  background-image: url(../img/benefit_hack.png);
}

#wikipedia {
  background-image: url(../img/benefit_wikipedia.png);
}


/* Tarjetas */
.card-blue {
  background: #99dbe7;
}

.card-green {
  background: #ddefaa;
}

.card-pink {
  background: #ffd9d4;
}

.card-yellow {
  background: #fefbc2;
}