@charset "utf-8";
/* CSS Document versión 2.1 adaptable a 3 */

/* Inicialización
	------------------------------------ */
*
{
	border-width: 0; /* Anula el subrayado del elemento abbr y de las imágenes dentro de enlaces */
	margin: 0;
	padding: 0;
}

/* Selectores 
	------------------------------------ */

/* Enlaces */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
#bodyCopy a, #sidebar a { color: #00747f; }
#bodyCopy a:hover, #sidebar a:hover, #sidebar #registration p:first-child + p a:hover { color: #40bac5; }

body
{
	background: url(../img/fondo_pie.gif) bottom repeat-x #fff;
	color: #4c4c4c;
  	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}
  
/* Títulos */
h1, h2, h3, h4 { font-family: "PTSans", sans-serif; }
h1, h2 { margin: 0 0 20px 10px; }
h1, h3 
{
	clear: left;
	color: #00747f; 
}
h1 
{
	font-size: 40px; 
	line-height: 1;
}
h4 
{
	color: #233a59; 
	font-size: 20px;
	line-height: 24px;
	margin: 20px 0;
}

#bodyCopy p, #sidebar p 
{
	line-height: 1.4em;
	margin-bottom: 10px; 
}

/* Estructura general 
	------------------------------------ */

#main
{
	margin: 0 auto;
	width: 1190px;
}
#bodyCopy
{
	float: left;
	width: 900px;
}
#header 
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-top: 12px;
}
#footer 
{
	clear: left;
	color: #33312e;
	font-size: 12px;
	height: 120px;
	line-height: 20px;
	margin-top: 2em;
	padding: 20px 0 0;
}
#sidebar 
{
	float: left;
	width: 290px; 
}

/* Encabezamiento ---------------------- */

#header:after
{
    clear: both;
	content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
#header li { display: inline-block; }

/* Se posiciona el logo a la izquierda para que el menú principal se comporte de manera adecuada en IE cuando se situa bajo el menú de login */
#logo 
{
	float: left;
	width: 384px;
}

/* ----- Menús de navegación ----------- */

#login, #nav
{
	float: right;
	font-family: "MetaBook-Roman", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
}
#language, #secondaryNav { font-family: PTSans, sans-serif; }

#lang a:hover, #nav a:hover, #secondaryNav a:hover { text-decoration: none; }

/* ----- Menú: Login ------------------- */

#login 
{
	margin: 8px 8px 20px 0;
	width: 147px;
}
#login a
{
	color: #4c4c4c;
	font-size: 16px;
	margin-left: 20px;
	text-align: right;
	/* CSS3 */
	text-shadow: 0 -1px 0 #fff;
}

/* ----- Menú: Navegación primaria ----- */

#nav { clear: right; }	/* Se situa bajo el menú de login */
#nav a { font-weight: bold; }
#nav a, #nav strong
{
	background: #f2f2f2;
	color: #888;
	display: block;
	font-size: 26px;
	letter-spacing: -0.03em;
	line-height: 37px;
	margin-left: 10px;
	text-align: center;
	text-transform: lowercase;
	width: 100px;
	/* CSS3 */
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-shadow: 0 1px #fff;
}
#nav a:hover
{
	text-decoration: none;
	opacity: 0.8;	/* CSS3 */ 
}

/* ----- Menú: Navegación secundaria --- */

#secondaryNav 
{
	float: left;
	margin-left: 10px;
	width: 790px; 
}
#secondaryNav a, #secondaryNav strong
{	
	background-color: #eee;
	border: solid #ddd;
	border-width: 1px 1px 0;
	color: #666;
	padding: 10px 14px;
	/* CSS3 */
	-moz-border-radius: 16px 16px 0 0;
	-webkit-border-radius: 16px 16px 0 0; 
	border-radius: 16px 16px 0 0;
}
#secondaryNav a 		{ opacity: 0.7; } 	/* CSS3 */
#secondaryNav a:hover 	{ opacity: 1; }		/* CSS3 */

#secondaryNav strong { position: relative; }
#secondaryNav strong:before
{
	background: url("../img/tabs-arrow.png") no-repeat scroll center bottom transparent;
	bottom: -10px;
	content: "";
	left: 0;
	padding-top: 10px;
	position: absolute;
	right: 0;
}

/* ----- Menú: Idiomas ----------------- */

label[for="lang"]
{
	color: #aaa;
	font: normal 11px/20px PTSans, sans-serif;
	letter-spacing: 0.1em;
}

#language
{
	float: right; 
	text-align: right;
	width: 390px;
}

#lang 
{
	float: right;
	margin: 0 30px 6px 0;
	width: 114px;
}
#lang a { opacity: 0.7; } /* CSS3 */
#lang a:hover, #lang strong { opacity: 1; }	/* CSS3 */
#lang abbr
{
	background: #eee;
	border: 1px solid #ddd;	
	border-left: 1px solid #f8f8f8;
	color: #888;
	display: inline-block;
	padding: 0 10px;
}
#lang strong abbr
{
	background: #eaeaea;
	border-color: #ccc;
	/* CSS3 */
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}
#lang li:first-child abbr
{
	border-left-color: #ddd;
	/* CSS3 */
	-moz-border-radius: 16px 0 0 16px;
	-webkit-border-radius: 16px 0 0 16px;
	border-radius: 16px 0 0 16px;
}
#lang li:last-child abbr /* CSS3 */
{
	-moz-border-radius: 0 16px 16px 0;
	-webkit-border-radius: 0 16px 16px 0;
	border-radius: 0 16px 16px 0;
}
#lang li
{
    float: left;
	width: 38px;
	/* CSS3 */
	text-shadow: 0 1px #fff;
}

/* Contenido principal ----------------- */

#bodyCopy h2
{
	color: #40bac5;
	font-size: 36px;
	line-height: 40px;
}
#bodyCopy > h3 { margin-left: 10px; }

#bodyCopy p img /* Imagen del programa en el primer párrafo de la introducción */
{
	float: right; 
	margin: 0 0 20px 20px;
	width: 160px;
}

/* Ajuste de márgenes */
#bodyCopy > p, #bodyCopy ul li:first-child 
{
	margin-left: 10px; 
	margin-right: 10px; 
}
#bodyCopy ol, #bodyCopy ul { margin: 20px 0;}

/* ----- Falsas columnas --------------- */

#bodyCopy ul:after
{
    clear: both;
	content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
#bodyCopy ul li 
{
	clear: right;
	float: left;
	list-style: none;
	width: 390px;
}
#bodyCopy ul li:first-child { width: 480px; }

/* ----- Agenda ------------------------ */

#agenda:after
{
    clear: both;
	content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
#agenda li
{
	display: block;
	float: left;
	font-size: 16px;
	margin: 0 10px 10px 0;
	padding: 0 20px;
	width: 250px;
	/* CSS3 */
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 8px rgba(0,0,0,0.5), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 1px 1px rgba(0,0,0,0.3);
	-moz-transform: rotate(-1.3deg);
	-webkit-transform: rotate(-1.3deg);
	transform: rotate(-1.3deg);
}
/* CSS3 */
#agenda li:nth-child(even) 
{
	-moz-transform: rotate(1.3deg);
	-webkit-transform: rotate(1.3deg);
	transform: rotate(1.3deg);
}
#agenda li:nth-child(5) 
{
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
}
#agenda .ternario + li { clear: left; }	/* Cambio de línea */
/* Cambio de color */
#agenda .cuaternario { background-color: #99dbe7; }	/* Azul */
#agenda li:first-child, #agenda .cuaternario + li { background-color: #ffd9d4; } /* Rosa */
#agenda li:first-child + li, #agenda .cuaternario + li + li { background-color: #ddefaa; } /* Verde */
#agenda li:first-child + li + li, #agenda .cuaternario + li + li + li { background-color: #fefbc2; } /* Amarillo */

#agenda p { font-size: 16px; }

/* Contenido secundario ---------------- */

/* ----- Registro ---------------------- */

#registration 
{
	background: #99cdff;
	color: #3d6999;
	padding: 20px 20px 1px;
	text-align: center;
	/* CSS3 */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#registration p:first-child a	/* Botón de registro */
{
	background: #8BCF68;
	color: #fff;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	line-height: 60px;	/* Proporciona altura a la caja */
	margin: 0 auto;		/* Centrado */
	text-align: center;
	/* CSS3 */
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(255,255,255,0.5);
	-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
#registration p:first-child a:hover
{
	background-color: #83db57;
	opacity: 0.8;	/* CSS3 */
	text-decoration: none;
}
#registration p:first-child + p a:link,		/* Enlace del texto posterior al botón de registro */
#registration p:first-child + p a:visited
{
	color: #0053a1;
	font-weight: bold;
}

/* ----- Beneficios -------------------- */

#benefits
{
	background: #f0f1f1;
	float: left;
	font: 14px/15px PTSans, sans-serif;
	margin-top: 40px;	/* Era el margen superior del bloque "What's it all about?" cuando se encontraba debajo del bloque de registo */
	/* CSS3 */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#benefits li 
{
 	background-position: 5px center;
	background-repeat: no-repeat;
	list-style: none;
	margin: 10px;
	padding: 10px 10px 10px 60px;
}
#benefit_creds { background-image: url(../img/benefits/creds.png); }
#benefit_guide { background-image: url(../img/benefits/guide.png); }
#benefit_hack { background-image: url(../img/benefits/hack.png); }
#benefit_hackbus { background-image: url(../img/benefits/hackbus.png); }
#benefit_p2pu { background-image: url(../img/benefits/p2pu.png); }
#benefit_teaching { background-image: url(../img/benefits/teaching.png); }
#benefit_wikipedia { background-image: url(../img/benefits/wikipedia.png); }

/* ----- Audiencia --------------------- */

#audience 
{
	background: #fefbc2;
	display: inline-block;
	margin: 27px 0 20px 8px;
	padding: 0 20px;
	/* CSS3 */
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.25), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.25), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 0 rgba(0,0,0,0.2);
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), inset 0 10px 20px rgba(255,255,255,0.6), inset 0 0 rgba(0,0,0,0.2);
	-moz-transform: rotate(1.1deg);
	-webkit-transform: rotate(1.1deg);
	transform: rotate(1.1deg);
}
#audience h2 
{
	color: #950000;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 30px;
	margin: 20px 0;
}

#audience ul 
{
	color: #002042;
	font: 18px/20px PTSans, sans-serif;
	list-style-image: url(../img/check.png);
	list-style-position: inside;
	margin: 20px 0;
}

/* ----- Compartir --------------------- */

#share { list-style: none; }
#share a 
{
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #fff;
	display: block; 
	line-height: 40px;
	margin: 0 auto 10px;
	padding: 0 10px;
	text-align: center;
	width: 210px;
	/* CSS3 */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#share a:hover 
{
	color: #f8f8f8;
	text-decoration: none;
	opacity: 0.8;	/* CSS3 */
}
#share a[href^="http://identi.ca"] 
{
	background-color: #7db4c9;
	background-image: url("../img/share/identica.png");
}
#share a[href^="http://twitter.com"] 
{
	background-color: #00bcff;
	background-image: url("../img/share/twitter.png");
}

/* Pie --------------------------------- */

#footer a
{
	color: #fff;
	font-weight: bold;
}
#footer li a 
{
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 2px 0 4px 30px; 
}
#footer a[href="http://www.drumbeat.org/blog"] 	{ background-image: url(../img/footer/icon-rss.gif); }		/* RSS */
#footer a[href^="http://twitter.com"] 			{ background-image: url(../img/footer/icon-twitter.gif); }	/* Twitter */
#footer a[href^="http://www.facebook.com"] 		{ background-image: url(../img/footer/icon-facebook.gif); }	/* Facebook */
#footer a[href^="http://www.flickr.com"] 		{ background-image: url(../img/footer/icon-flickr.png); }	/* Flickr */
#footer a[href^="http://www.mozilla.org"] 		{ background-image: url(../img/footer/icon-mozilla.gif); }	/* Mozilla */

#footer li { display: inline-block; }
#footer p { text-align: right; }
#footer ul 
{
	float: left;
	list-style: none;
	width: 160px;
}