body
{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: grey;

}

#container
{
	margin: 0 auto;
	border: 0 auto;
	padding: 0;
	width: 700px;
	text-align: left;
	background-color: red;
}

#header
{
	margin: 0;
	padding: 0;
	background-color: blue;
}

#sidebar
{
	margin: 0 auto;
	padding: 10px;
	width: 200px;
	float: left;
	background-color: yellow;
}

#nav
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

#nav ul li
{
	list-style-type: none;
	background-color: #666;
}

#nav ul li a
{
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px 10px 10px 20px;
}

#nav ul li a:hover
{
	background: #000;
	border-left: 10px solid #333;
	color: #fff;
}

#main
{
	margin-top: 0;
	margin-left: 225px;
	padding: 10px;
	background-color: green;
}

#footer
{
	clear: both;
	background-color: orange;
}