body
{
	margin:			0;
	padding:		0;
	font:			8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#666666;
	background:		#e8f4cd url("../img/fondo.gif") repeat-x top left;
	text-align:		center;
}

h1
{
	font-size: 12pt;
}

h2
{
	font-size: 10pt;
}

input
{
	font-size: 8pt;
}

a, a:active, a:focus, a:link, a:visited
{
	color: #3f7de3;
}

a:hover
{
	color: #378237;
}

.titlat
{
	margin:				20px 0 0 0;
	padding:			7px 3px 7px 8px;
	color:				#fff;
	background:			#20550b url("../img/titlat3.jpg") no-repeat bottom right;
	font-size:			8pt;
	font-weight:		normal;
	letter-spacing:		2px;
	text-transform:		uppercase;
}

.cuerpolateral
{
	margin-bottom:		15px;
	padding:			5px 4px 13px 10px;
	background-color:	#f0e68c;
}

.radio
{
	clear: both;
}

a.enlacenav, a.enlacenav:visited, a.enlacenav:active, a.enlacenav:focus, a.enlacenav:link
{
	color: #fff;
}

a.enlacenav:hover
{
	color: #ffffaa;
}

#borde
{
	border-left:	2px solid #144700;
	border-right:	2px solid #144700;
	width:			549px;
	text-align:		left;
	margin:			auto;
}

#contenedor
{
	text-align:			left;
	width:				549px;
	background-color:	#fff;
	margin:				auto;
}

#cabecera
{
	height:		288px;
	width:		549px;
	background:	transparent url("../img/cabecera.jpg") no-repeat;
}

#navegador
{
	background:			transparent url("../img/barranav.jpg") no-repeat;
	height:				29px;
	width:				549px;
	background-color:	#144700;
}

#cuerpo
{
	width:		335px;
	padding:	13px 3px 15px 10px;
	float:		right;
	background:	transparent url("../img/decora_trans.jpg") no-repeat bottom right;
}

#lateral
{
	margin-top:	3px;
	width:		200px;
	height:		500px;
	float:		left;
}

#campotexto
{
	float: left;
}

#botonbuscar
{
	padding-top:	3px;
	padding-left:	106px;
}

#pie
{
	clear:			both;
	color:			#ccc;
	text-align:		center;
	margin:			30px 10px 0px 10px;
	padding-bottom:	10px;
}

#imagen
{
	width:	25px;
	height:	15px;
}

#cssval
{
	border:	0;
	width:	88px;
	height:	31px
}

#xhtmlval
{
	height:	31px;
	width:	88px;
}

#cabecera h1
{
	margin: 0;
}

#cabecera h1 span
{
	display: none;
}

#navegador p
{
	padding:	8px 3px 1px 10px;
	margin:		0;
}

#fbuscar form
{
	margin-bottom:	0;
	margin-top:		0;
}

#campotexto input
{
	width: 100px;
}

#botonbuscar input
{
	border: 0 none;
}