body
{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: grey;

}

div#container
{
	margin: 0 auto;
	border: 0 auto;
	padding: 0;
	width: 700px;
	text-align: left;
	background-color: red;
}

div#header
{
	margin: 0;
	padding: 0;
	background-color: blue;
}

div#sidebar
{
	margin: 0 auto;
	padding: 10px;
	width: 200px;
	float: left;
	background-color: yellow;
}

div#main
{
	margin-top: 0;
	margin-left: 225px;
	padding: 10px;
	background-color: green;
}

div#footer
{
	clear: both;
	background-color: orange;
}