#wrapper
{
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 700px;
	background: url("../img/fondo.gif") repeat;
}

#header
{
	margin: 0 0 15px 0;
	background: yellow;
}

#side-a
{
	float: left;
	width: 150px;
}

#side-b
{
	float: right;
	width: 150px;
}

#content
{
	float: left;
	width: 56%;
}

#footer
{
	clear: both;
	background: #A2A2A2;
}