body
{
	margin: 0;
	padding: 0;
}

div#main-body
{
	padding: 0;
	margin: 0 auto;
	border: 0 auto;
	width: 1012px;
}

div#title
{
	font-size: 1em;
	padding: 0.5em 8px;
	color: #000000;
	background-color: #73A5FF;
	margin: 0;
	text-align: center;
}